<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ this.graficos['grafico1'].leyenda }}</h5>
                <app-graficoDonas [doughnutChartData]="this.graficos.grafico1.data" [doughnutChartLabels]="this.graficos.grafico1.labels" [doughnutChartType]="this.graficos.grafico1.type"></app-graficoDonas>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ this.graficos['grafico2'].leyenda }}</h5>
                <app-graficoDonas [doughnutChartData]="this.graficos['grafico2'].data" [doughnutChartLabels]="this.graficos['grafico2'].labels" [doughnutChartType]="this.graficos['grafico2'].type"></app-graficoDonas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ this.graficos['grafico3'].leyenda }}</h5>
                <app-graficoDonas [doughnutChartData]="this.graficos.grafico3.data" [doughnutChartLabels]="this.graficos['grafico3'].labels" [doughnutChartType]="this.graficos['grafico3'].type"></app-graficoDonas>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ this.graficos['grafico4'].leyenda }}</h5>
                <app-graficoDonas [doughnutChartData]="this.graficos['grafico4'].data" [doughnutChartLabels]="this.graficos['grafico4'].labels" [doughnutChartType]="this.graficos['grafico4'].type"></app-graficoDonas>
            </div>
        </div>
    </div>
</div>